/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.facebook-style-btn {
    border-radius: 2px; /* Interesting.. border-radius on a <button> will make the button pops.*/
    font-size: 0.9rem;
    padding: 6px 12px;
}

.facebook-style-dark {
    /*inset means do it inside the block level element, e.g. the div
      first number is the horizontal value, positive number shift to right, negative value shift to left
      select number is the vertical value, positive number shift to down, negative value shift to up
      third number is the blur-radius, 0 is a sharp line, 10px will be blury box shadow
      forth number is spread-radius. 0 if you don't want it to do anything. A high number means you want the shadow to really spread
      The following result thin blue line close to the top of the button.
    */
    -moz-box-shadow:    inset 0 1px 0 0 #4d73bf;
    -webkit-box-shadow: inset 0 1px 0 0 #4d73bf;
    box-shadow:         inset 0 1px 0 0 #4d73bf;

    background: #4267b2;
    border: solid 1px #4267b2;
    color: white;
    text-shadow: 0 1px 0 #3359a5;
}

.facebook-style-dark:hover {
    background: #2b54a7;
}

.facebook-style-dark:active {
    background: #1d4698;
    border-color: #1d4698;
}

.facebook-style-light {
    background: #f6f7f9;
    border: solid 1px #ced0d4;
    color: #4b4f56;
}

.facebook-style-light:hover {
    background: #e9ebee;
}

.facebook-style-light:active {
    background: #d8dade;
    border-color: #d8dade;
}

/* =====================
   3D BUTTON 1
   ===================== */

.btn-3d-1 {
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
}

/* Color becomes a bit darker*/
.btn-3d-1:hover {
    background: hsl(16, 100%, 45%);
}

/* It gives the impression that the button is pressed down*/
.btn-3d-1:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

/*This is the top left corner triangle that connects the top plate and the shadow. Delete the left: -6px; and  you will see*/
.btn-3d-1::before {
    position: absolute;
    display: block;
    content: '';
    height: 0;
    width: 0;

    /*https://www.w3schools.com/cssref/tryit.asp?filename=trycss_border-left-width
      To understand this part, you really need to open google dev tool and enable the property one by one to see effect*/
    border: solid 6px transparent;
    border-right: solid 6px hsl(16, 100%, 30%);
    border-left-width: 0;
    top: 0;
    left: -6px;
}

/*This is the bottom right corner triangle that connects the top plate and the shadow. Delete the left: -6px; and  you will see*/
.btn-3d-1::after {
    position: absolute;
    display: block;
    content: '';
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    bottom: -6px;
    right: 0;
}

/* When the button is pressed, shrink the triangle so it does not seem out of porportion */
.btn-3d-1:active::before {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    /* You can add the below two but it's not necessary */
    /*border-left-width: 0;*/
    /*left: -3px;*/
}

.btn-3d-1:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    /* You can add the below two but it's not necessary */
    /*border-bottom-width: 0;*/
    /*bottom: -3px;*/
}

/* =====================
   3D BUTTON 2
   ===================== */

.btn-3d-2 {
    position: relative;

    background: #ecd300;
    background: -webkit-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    background: -o-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    background: -moz-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    background: radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));

    font-size: 1.4rem;
    text-shadow: 0 -1px 0 #c3af07;
    /* -1px is vertically goes -1px, meaning the shadow will be 1px above the text. 1px is vertically goes 1px, will make it 1px below the text) */
    /* https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_text-shadow */

    color: white;
    border: solid 1px hsl(54, 100%, 20%);
    border-radius: 100%;
    height: 120px;
    width: 120px;
    z-index: 4;

    outline: none;

    box-shadow: inset 0 1px hsl(54, 100%, 50%),
                0 2px hsl(54, 100%, 20%),
                0 3px hsl(54, 100%, 18%),
                0 4px hsl(54, 100%, 16%),
                0 5px hsl(54, 100%, 14%),
                0 6px hsl(54, 100%, 12%),
                0 7px hsl(54, 100%, 10%),
                0 8px hsl(54, 100%, 8%),
                0 9px hsl(54, 100%, 6%);
}

.btn-3d-2:hover {
    background: -webkit-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    background: -o-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    background: -moz-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
    background: radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
}

/* active is darker than hover*/
.btn-3d-2:active {
    background: -webkit-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    background: -o-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    background: -moz-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
    background: radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));

    /*When it's pressed, push down 2px*/
    top: 2px;

    /*Remove two layer of shadow when it's pressed.*/
    box-shadow: inset 0 1px hsl(54, 100%, 50%),
                0 2px hsl(54, 100%, 20%),
                0 3px hsl(54, 100%, 18%),
                0 4px hsl(54, 100%, 16%),
                0 5px hsl(54, 100%, 14%),
                0 6px hsl(54, 100%, 12%),
                0 7px hsl(54, 100%, 10%);
}

/* =========================
   GRADIENT BORDERED BUTTONS
   ========================= */

.gradient-button-1 {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
    background-color: #e7eef1;
    border: solid 10px transparent;
    border-image: linear-gradient(to top right, orangered, yellow);

    /*Connect all corners together.
      https://developer.mozilla.org/en-US/docs/Web/CSS/border-image-slice
    */
    border-image-slice: 1;

    color: orangered;
    transition: all 0.3s ease-in-out;
}

.gradient-button-1:hover {
    background-image: linear-gradient(to top right, orangered, yellow);
    color: white;
}

.gradient-button-2 {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
    background-color: #e7eef1;
    border: solid 4px transparent;
    border-image: linear-gradient(to right, orangered, transparent);
    border-image-slice: 1;
    color: orangered;
    transition: all 0.3s ease-in-out;
}

.gradient-button-2:hover {
    background-image: linear-gradient(to right, orangered, transparent);
    color: white;
    border-right-style: none; /* Get rid of the red border when hover, not entirely get rid of this.*/
}

/* =========================
   ANIMATED BUTTONS
   ========================= */

.animated-button-1 {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background-color: #00bab4;

    background-image: url(pattern.png);
    background-size: 40px 40px; /* this added properties does not take any effect */
    border: solid 1px #555;
    color: white;
    transition: all ease 0.3s;
}

.animated-button-1:hover {
    animation: loading-button-animation 2s linear infinite ;
}

@keyframes loading-button-animation {
    from {
        background-position: 0 0; /*top left corner*/
    }
    to {
        background-position: 40px 0; /*top right corner. x% y% */
    }
}

.animated-button-2 {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background-color: #00bab4;
    background-size: 40px 40px; /* this added properties does not take any effect */
    border: solid 1px #555;
    color: white;
    transition: all ease 0.3s;
}

.animated-button-2::after {
    position: absolute;
    top: 30%;
    right: 0.6em;
    content: "»";
    transition: all ease 0.3s;
    opacity: 0;
}

.animated-button-2:hover {
    padding: 20px 60px 20px 20px;
}

/*So hover has to be before 'after'? I thought it's the other way around.*/
.animated-button-2:hover::after {
    right: 1.2em;
    opacity: 1;
}



