/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.layers {
    position: relative;
    min-height: 640px;
    max-width: 360px;
}

.layers img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    transition: all ease 1600ms;

    /* Good demo in this website:
       https://developer.mozilla.org/en-US/docs/Web/CSS/transform-style
    */
    transform-style: preserve-3d;
}

/* Put the mid.svg to be exactly in the middle of the layers container, which has the width of 360px*/
.layers img.mid {
    width: 320px;
    left: 20px;
}

.layers img.top {
    width: 300px;
    left: 30px;
    top: -5px;
}

.layers img.tippy {
    width: 280px;
    left: 40px;
    top: -150px;
}

/* https://alligator.io/css/translatez-and-perspective/ */
.layers:hover img {
    /*transform: rotateX(50deg) rotateY(20deg) rotateZ(-25deg);*/

    /* The lower the perspective value, the closer you are to this element on the z-plate
       Image it as you put down your phone (nearly horizontally) and how close you are toward the bottom of the phone
    */
    /*transform: perspective(1200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg);*/

    transform: perspective(1200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg)
                translateX(35px) translateY(0px) translateZ(180px);
}


/* Keep everything the same as .layers:hover img {..} but give a higher translateZ value*/
.layers:hover img.mid {
    transform: perspective(1200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg)
    translateX(35px) translateY(0px) translateZ(240px);
}

.layers:hover img.top {
    transform: perspective(1200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg)
    translateX(35px) translateY(0px) translateZ(280px);
}












