/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.layers {
    position: relative;
    min-height: 640px;
    max-width: 360px;
}

.layers img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    transition: all ease 1600ms;

    /* Good demo in this website:
       https://developer.mozilla.org/en-US/docs/Web/CSS/transform-style
    */
    transform-style: preserve-3d;
}

/* Put the mid.svg to be exactly in the middle of the layers container, which has the width of 360px*/
.layers img.mid {
    width: 320px;
    left: 20px;
}

.layers img.top {
    width: 300px;
    left: 30px;
    top: -5px;
}

.layers img.tippy {
    width: 280px;
    left: 40px;
    top: -150px;
}
