/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.tooltip {
    position: relative;
    height: 60px;
    width: 250px;
    background: #f2395a;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    margin: 0 auto; /*this is to adjust it to the middle of the page */
}

/* This is the content box of the tooltip, the block box */
.tooltip::before {
    position: absolute;
    z-index: 2;
    /*display: none;*/
    width: 200px;
    padding: 10px;

    /* 80% of the parent element, which is 18px. so 18px * 0.8 = 14.4px */
    font-size: 0.8em;

    line-height: 1.4em;
    border-radius: 5px;
    background-color: green;
    /*background-color: rgba(0,0,0,0.8);*/
    color: white;

    /*content: "";*/
    content: attr(title); /* instead of "", we put the title value of the element into the content */

    /* All adjusting position is related to the parent element, .tooltip, on the top left point of the 'Hover over me' */
    bottom: calc(100% + 5px); /* We will move it extra 5px up and will move the pointer extra 5 px down */
    left: 50%; /* Move from 50% of the parent element */
    /* Transform + translate is a better options as it's be more smoothly moving element into position
       https://medium.com/@ArthurFinkler/css-animations-translate-vs-absolute-positioning-and-background-position-dd39fbdeade5
    */
    transform: translateX(-50%);
}

.tooltip:hover::before,
.tooltip:hover::after {
    display: inline-block;
}

/* This is triangle pointer pointing the tooltip content box to the 'Hover over me' box */
.tooltip::after {
    position: absolute;
    z-index: 10;
    /*z-index: 1;*/
    /*display: none;*/

    /* Make the element with 0 width and height, and use the border to form the square, just like what we do in pacman */
    width: 0;
    height: 0;

    border: 5px solid pink;
    /*border: 5px solid transparent;*/

    content: '';
    bottom: 100%;
    left: 50%;

    /* Create the triangle through border-top-color, So it is a much nicer way to do than
       using background color and rotate 45 degree */
    /* Unfortunately ou cannot use the same technique in lodgement-ui because it's using box-shadow, not regular colored triangle*/
    border-top-color: rgba(0,0,0,0.8);

    border-bottom-width: 0; /* This is pushing it down 50%. You can use other way such as calc etc. But it looks simpler */
    transform: translateX(-50%);
}
