/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.animation-bar-1 {
    position: relative;
    display: block;
    padding: 5px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 30px;
    background: rgba(0,0,0,0.1);
    /* 0 1px rgba(255,255,255,0.8) is said to create a white line on the bottom of the bar so it give more depth,
       although I cannot tell the different even after i change it to 200% */
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25), 0 1px rgba(255,255,255,0.8);
}


.animation-bar-1 span {
    position: relative;
    display: inline-block; /* this is what make the span height thicker */
    vertical-align: middle;
    height: 20px; /* What is the point of setting your parent to be line-height: 16px, if the child already stretch height to be 20px */

    /* top-left, top-right, bottom-right, bottom-left
       So the left side of the bar is around while the right size of the bar is straight cut
    */
    border-radius: 10px 0 0 10px;
    overflow: hidden;

    background-color: #f56982;
    background-size: 100%;
    background-image: linear-gradient(to bottom, #f2395a, #b90c2b);

    animation: progress-bar-1 6s infinite ease;
}

.animation-bar-1 span::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-size: 100%;


    /* #fff: white color
       rgba(0,0,0,0): transparent

       transparent vs rgba(0,0,0,0)
       Behaviour is exactly the same, but transparent is compatible also with IE8.
       RGBA is more advanced (but lacks IE8 support) and allows you to quickly modify it,
       in case you would like an "almost transparent" color
    */
    background-image: linear-gradient(
            45deg, #fff 25%,
            rgba(0,0,0,0) 25%,
            rgba(0,0,0,0) 50%,
            #fff 50%,
            #fff 75%,
            rgba(0,0,0,0) 75%,
            rgba(0,0,0,0)
    );

    /* background-size will not impact current width and height
       The bigger the size the thicker the stripe.
    */
    background-size: 30px 30px;

    opacity: 0.3; /* make the background-color: #f56982; able to come through the white section*/
}

@keyframes progress-bar-1 {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}
