/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

/* This is the grey coontainer */
.animation-bar-1 {
    position: relative;
    display: block;
    padding: 5px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 30px;
    background: rgba(0,0,0,0.1);
    /* 0 1px rgba(255,255,255,0.8) is said to create a white line on the bottom of the bar so it give more depth,
       although I cannot tell the different even after i change it to 200% */
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25), 0 1px rgba(255,255,255,0.8);
}

/* This is the progress bar, pink color*/
.animation-bar-1 span {
    position: relative;
    display: inline-block; /* this is what make the span height thicker */
    vertical-align: middle;
    height: 20px; /* What is the point of setting your parent to be line-height: 16px, if the child already stretch height to be 20px */

    /* top-left, top-right, bottom-right, bottom-left
       So the left side of the bar is around while the right size of the bar is straight cut
    */
    border-radius: 10px 0 0 10px;
    overflow: hidden;

    background-color: #f56982;
    background-size: 100%;
    background-image: linear-gradient(to bottom, #f2395a, #b90c2b);

    animation: progress-bar-1 6s infinite ease;
}

/* This is another lay to make it the stripe effect on the progress bar */
.animation-bar-1 span::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-size: 100%;


    /* #fff: white color
       rgba(0,0,0,0): transparent

       transparent vs rgba(0,0,0,0)
       Behaviour is exactly the same, but transparent is compatible also with IE8.
       RGBA is more advanced (but lacks IE8 support) and allows you to quickly modify it,
       in case you would like an "almost transparent" color
    */
    background-image: linear-gradient(
            45deg, #fff 25%,
            rgba(0,0,0,0) 25%,
            rgba(0,0,0,0) 50%,
            #fff 50%,
            #fff 75%,
            rgba(0,0,0,0) 75%,
            rgba(0,0,0,0)
    );

    /* background-size will not impact current width and height
       The bigger the size the thicker the stripe.
    */
    background-size: 30px 30px;

    opacity: 0.3; /* make the background-color: #f56982; able to come through the white section*/

    animation: progress-bar-after-1 0.5s infinite linear;
}

@keyframes progress-bar-1 {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes progress-bar-after-1 {
    /* background-position:
       x% y%
       The first value is the horizontal position and the second value is the vertical.
       The top left corner is 0% 0%. The right bottom corner is 100% 100%.
       If you only specify one value, the other value will be 50%. . Default value is: 0% 0%

       xpos ypos
       The first value is the horizontal position and the second value is the vertical.
       The top left corner is 0 0. Units can be pixels (0px 0px) or any other CSS units.
       If you only specify one value, the other value will be 50%. You can mix % and positions
    */
    0% {
        background-position: 0 100%;
    }
    100% {
        /* choose 30px is because that is the background size for .animation-bar-1 span::after
           Keep it smaller or larger than 30px will make it jumpy. And smaller will make it move slower and larger will make it move faster
        */
        background-position: 30px 100%;
    }
}



.animation-bar-2 {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 16px;
    background: rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25), 0 1px rgba(255,255,255,0.8);
}

.animation-bar-2 span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    background-color: #00e6e7; /* seems this one has not effect as it will be override by the background-image */
    background-size: 100%;

    /*Green to Dark green from top to down*/
    background-image: linear-gradient(to bottom, #00b3b4, #008081);
    width: 20%;
}

/* Black tooltip pointer */
.animation-bar-2 span::before {
    position: absolute;
    right: 0;
    bottom: 100%;
    display: inline-block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-color: rgba(0,0,0,1);
    content: '';
}

/* Black tooltip content box */
.animation-bar-2 span::after {
    position: absolute;
    right: 0;
    bottom: calc(100% + 5px); /* 5px is half of border: 10px solid red; */
    z-index: 1;
    display: inline-block;
    content: attr(data-label);
    padding: 5px;
    border-radius: 3px;
    font-size: 0.8em;
    background-color: rgba(0,0,0,1);
    color: #fff;
}
