/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.path {
    position: relative;
    width: 100%;
    height: 100px;
    background: #333;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.path::after {
    content: "";
    position: absolute;
    display: block;
    border-top: 12px dotted white; /* this is the white dots on the path */
    width: 90%; /* visual element you cannot see unless there is a width */

    /* Put the dots into the center */
    top: 50%;
    left: 5%; /* This is because we have width of 90%, so we need to have 5% on each side of the dots */
    margin-top: -6px; /* this is because the doc is 12px (diameter), which means the top: 50% is touching the top of the dot. So we need to negative half of the diameter back */
}

.pacman {
    position: absolute;
    z-index: 99;
    top: 50%;

    /* Make it linear speed */
    animation: moveForward 5s linear infinite;
}

/* Create pacman out of a border, not out of a background color
   Keep in mind this is two elements (before element and after element), they just overlap on top of each other.
*/
.pacman::before, .pacman::after {
    content: "";
    display: block;

    /*If you put 30px for the height and width, you will see how the border effect result into a square box
      If you confuse by any part, always switch back height and width to be 30px and then you will see it clearly
    */
    /*height: 30px;*/
    /*width: 30px;*/

    height: 0;
    width: 0;
    position: absolute;
    border: solid 30px yellow; /* The square box width and height are both 60px. The element is a invisiable dot in the middle with not width */

    margin-top: -30px; /* Because the height is 60px from top:50%, so negative -30px will push it back into the center */
    border-radius: 50%;
    border-right-color: transparent;

    /* Over all, make the before element border right and bottom to be transparent */
    border-bottom-color: transparent;

    animation: mouthTop 0.7s ease infinite;
}

.pacman::after {
    /*margin-left: 65px;*/

    /* Over all, make the before element border right and top to be transparent */
    border-color: yellow;
    border-right-color: transparent;
    border-top-color: transparent;

    animation: mouthBottom 0.7s ease infinite;

}

.ghost {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 20%;
    height: 70px;
    width: 60px;
    margin-top: -35px; /* This is to negative half (70px) to push it back in the middle */
    background: red;
}

@keyframes moveForward {
    /* Want start from the off screen from left, rather than starting from the frame position*/
    0% {
        left: -20%;
    }
    100% {
        left: 100%;
    }
}

/* We choose 44 deg because we don't want the other side to see the black background
   Although I will argue the author should just make it 3/4 the circle, rather than a 1/2 circle
*/
@keyframes mouthTop {
    50% {
        transform: rotate(44deg);
    }
}

@keyframes mouthBottom {
    50% {
        transform: rotate(-44deg);
    }
}





















