/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.spinner-1 {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    /* draw a circle */
    width: 64px;
    height: 64px;
    border-radius: 64px;

    /*border: 1px solid black;*/
}

.spinner-1::before {
    position: absolute;
    content: "";
    width: 64px;
    height: 64px;
    border-radius: 64px;

    color: #323b40;
    /* Change the -5px into 0 or adjust it and you can see how the box-shadow is formed. */
    /*box-shadow: inset 0 0 0 5px currentColor;*/
    box-shadow: inset -5px 0 0 5px currentColor; /* currentColor will take the color property value */

    /* Clip area always start to the top left corner, and go right (position number) and go down (position number) */
    clip: rect(0, 64px, 32px, 0);

    /*animation: rotator 1s infinite ease;*/
    animation: rotator 1s infinite linear;
}

/*!* Thickest point at 3 o'clock *!*/
/*@keyframes rotator {*/
/*    0% {*/
/*        transform: rotate(0deg);*/
/*        box-shadow: inset -5px 0 0 5px currentColor;*/
/*    }*/
/*    50% {*/
/*        transform: rotate(180deg);*/
/*        box-shadow: inset -1px 0 0 1px currentColor;*/
/*    }*/
/*    100% {*/
/*        transform: rotate(360deg);*/
/*        !*box-shadow: inset -1px 0 0 1px currentColor;*!*/
/*        box-shadow: inset -5px 0 0 5px currentColor;*/

/*    }*/
/*}*/

/* Thickest point at 12 o'clock */
@keyframes rotator {
    0% {
        transform: rotate(-180deg);
        box-shadow: inset -5px 0 0 5px currentColor;
    }
    50% {
        transform: rotate(0deg);
        box-shadow: inset -1px 0 0 1px currentColor;
    }
    100% {
        transform: rotate(180deg);
        /*box-shadow: inset -1px 0 0 1px currentColor;*/
        box-shadow: inset -5px 0 0 5px currentColor;

    }
}


.spinner-2 {
    position: relative;
    margin: 32px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #323b40;
}















