/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */
/* You can use lite server, you will have to keep refresh the index.html to get update for this tutorial */

.layout1 main {
    display: flex;
    /*flex-direction: row-reverse;*/
    flex-direction: row;
}

/*!* This will make article and aside in ratio of 2:1 *!
.layout1 article {
    flex: 2;
}
.layout1 aside {
    flex: 1;
}*/

.layout1 article {
    /* The 1 will keep the article: aside in ratio of 1:1
       The 58% will make the article more tnan 50% size of the row,
       but changing it to 100% doesn't make it occupy the whole row as it can detect there is still an aside element there.
    */
    flex: 1 58%;

    /* Give some gap between the two element*/
    margin-right: 2%;
}

/*-----------------------------------------------------*/

.layout2 header {
    display: flex;
    flex-direction: row;
}

/* Very strange, why putting
   flex: 1 for the 1st element will make it equal space with its siblings,
   flex: 1 for the 2nd element will let 1st element take its enough space and 2nd element to take the remaining space of the row??
*/
.layout2 header nav {
    flex: 1;

    margin-left: 2%;
}

.layout2 main {
    display: flex;
    flex-direction: row;
}

.layout2 article {
    flex: 1 56%;

    /*For some reason, the short handed does not work*/
    /*margin: 0 2%;*/
    margin-left: 2%;
    margin-right: 2%;
}

.layout2 aside.sidenav,
.layout2 aside.sidebar {
    flex: 1 20%;
}


/*-----------------------------------------------------*/

.layout3 header {
    display: flex;
    flex-direction: row-reverse;
}

/*.layout3 header div {*/
/*    margin-left: 2%;*/
/*}*/

.layout3 header nav {
    flex: 1;
    margin-right: 2%;
}

.layout3 .articles {
    display: flex;
    flex-direction: row;
}

/*!* For some reason, this one keep a larger margin bottom, Have to write it in the other way...*!
.layout3 article {
    flex: 1;
}

.layout3 article:nth-of-type(2) {
    margin-left: 2%;
    margin-right: 2%;
}*/

.layout3 article {
    flex: 1;
    margin: 0 2%;
}

.layout3 article:first-child,
.layout3 article:last-child {
    margin: 0;
}



















