/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */
/* This tutorial is unfortunately, another tutorial that does not work with lite-server. You will have to keep refreshing the html file.
*/


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background: #000;

    /* The overlay, we don't actually want it to be the target of a mouse event.
       We want to be able to click through it we don't want it to conflict with if we want
       to click something.
    */
    pointer-events: none; /* if you click this, it should register of anything*/

    opacity: 0.4;
    /*opacity: 0;*/
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

/* ~ is directly sibling, not necessary just the adjacent sibling */
input[type="checkbox"]:checked ~ .overlay {
    pointer-events: auto;
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100; /* On top of the overlay */

    /* -50% -50% (x-axle, y-axle) is to position it in the middle,
       Since we always position it top 50%, left 50% from the page.
       This means the top left corner of the element is in the middle of the page,
       If we want the whole element in the middle, we need to shift its size to
       left -50% and top -50%
    */
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    width: 100%;
    max-width: 640px;
    pointer-events: none;
    opacity: 0.3;
    /*opacity: 0;*/
}
